{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": [
    "(^[a-zA-Z0-9])|^@(?!(opfr|gatewatcher|/))",
    "^@(opfr|gatewatcher|/)(.*)$",
    "^(?!.*.scss$).*$",
    "[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}